*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

$main: rgba(255, 255, 255, 0.842); 
$secondary: black; 

// Components 
@import './components/navbar'; 
@import './components/products';
@import './components/footer';
@import './components/hashtag';
@import './components/newsletter';
@import './components/landingPage'; 
@import "~bootstrap/dist/css/bootstrap.css";